
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
	branch = main
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nekoffski/stb.git
